<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container" id="header">
    <ul class="nav navbar-nav">
    Oskar Råhlén
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        12:00 8 December 2016
      </li>
    </ul>
  </div>
</nav>
