<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container" id="header">
    <ul class="nav navbar-nav">
    Oskar Råhlén
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <p id="clock"></p>

      </li>

      <script>
      $(document).ready(function(){
        setInterval(function(){
          var date = new Date();
          $("#clock").empty();
          var appenDate = date.toLocaleString() + "";
          $("#clock").append(appenDate);
        }, 1000);
      });
      </script>
    </ul>
  </div>
</nav>
